<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="custom-plugin-panorama"
    version="0.1.0">
    <name>PanoramicCamera</name>
    <description>Custom Camera Plugin</description>
    <license>Apache 2.0</license>
    <keywords>camera</keywords>

    <!-- ① -->
    <js-module src="www/PanoramicCamera.js" name="PanoramicCamera">
        <clobbers target="PanoramicCamera" />
    </js-module>

    <!-- ② -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="PanoramicCamera">
                <param name="ios-package" value="PanoramicCamera" />
            </feature>
        </config-file>

        <js-module src="www/PanoramicCamera.js" name="PanoramicCamera">
            <clobbers target="PanoramicCamera" />
        </js-module>

        <source-file src="src/ios/PanoramicCamera.swift" />
    </platform>
</plugin>
