<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="custom-plugin-panorama"
        version="0.1.0">

  <name>custom-plugin-panorama</name>
  <description>panorama plugin</description>
  <license>MIT</license>
  <js-module src="www/panorama.js">
    <clobbers target="custom.plugin.panorama" />
  </js-module>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="Panorama">
        <param name="ios-package" value="Panorama" onload="true" />
      </feature>
    </config-file>
    <header-file src="src/ios/UINavigationControllerLandscape.h" />
    <source-file src="src/ios/UINavigationControllerLandscape.m" />
    <header-file src="src/ios/PLITInfoView.h" />
    <source-file src="src/ios/PLITInfoView.m" />
    <header-file src="src/ios/PLITViewerVC+Controls.h" />
    <source-file src="src/ios/PLITViewerVC+Controls.m" />
    <header-file src="src/ios/PLITViewerVC.h" />
    <source-file src="src/ios/PLITViewerVC.mm" />
    <source-file src="src/ios/libDMD_LITE.a" />
    <header-file src="src/ios/DMD-Bridging-Header.h" />
    <header-file src="src/ios/DMD_LITE.h" />
    <source-file src="src/ios/DMDAssets.bundle" />
    <source-file src="src/ios/ViewController.swift" />
    <source-file src="src/ios/Panorama.swift" />
  </platform>
</plugin>
