<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="custom-plugin-panorama"
    version="0.1.0">
    <name>PanoramicCamera</name>
    <description>Custom Camera Plugin</description>
    <license>Apache 2.0</license>
    <keywords>camera</keywords>

    <!-- ① -->
    <js-module src="www/PanoramicCamera.js" name="PanoramicCamera">
        <clobbers target="PanoramicCamera" />
    </js-module>

    <!-- ② -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="PanoramicCamera">
                <param name="ios-package" value="PanoramicCamera" />
            </feature>
        </config-file>

        <js-module src="www/PanoramicCamera.js" name="PanoramicCamera">
            <clobbers target="PanoramicCamera" />
        </js-module>

        <header-file src="src/ios/PLITInfoView.h" />
        <source-file src="src/ios/PLITInfoView.m" />
        <header-file src="src/ios/PLITViewerVC+Controls.h" />
        <source-file src="src/ios/PLITViewerVC+Controls.m" />
        <header-file src="src/ios/PLITViewerVC.h" />
        <source-file src="src/ios/PLITViewerVC.m" />
        <header-file src="src/ios/UINavigationControllerLandscape.h" />
        <source-file src="src/ios/UINavigationControllerLandscape.m" />
        <source-file src="src/ios/PanoramicCamera.swift" />
        <source-file src="src/ios/ViewController.swift" />
        <source-file src="src/ios/AppDelegate.swift" />
        <source-file src="src/ios/libDMD_LITE.a" framework="true" />
        <source-file src="src/ios/Vuepanorama.m" />
    </platform>
</plugin>
